<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.gianulli.flashcards">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:theme="@style/AppTheme"
			android:hardwareAccelerated="true">
		<activity
				android:name=".MainActivity"
				android:label="@string/title_activity_main">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<meta-data
				android:name="ch.gianulli.trelloapi.APP_KEY"
				android:value="426d1f8f60cbefa3ed5b1929e690fc67"/>
		<meta-data
				android:name="ch.gianulli.trelloapi.APP_SECRET"
				android:value="f6a53d9d27c23fb52843f7507847531eec852121a39d942961814eda4a4da233"/>

		<activity
				android:name=".SessionActivity"
				android:label="@string/title_activity_session"
				android:parentActivityName=".MainActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="ch.gianulli.flashcards.MainActivity"/>
		</activity>

		<activity
				android:name=".SettingsActivity"
				android:label="@string/settings"/>
	</application>

</manifest>
